body{
    background-color: white;
}


/* starter page styles */
.startertext{
    text-align: center;
    display: block;
    font-weight: normal;
    font-size: 28pt;
}

.startlinks {
    text-align: center;
    display: block;
    font-size: 28pt;
    margin-bottom: 30px;
}


/* social page styles */
.socialtext {
    text-align: center;
    display: block;
    font-size: 28pt;
}

/* education page styles */
.edumidtext {
    text-align: center;
    display: block;
    font-size: 28pt;

}
.edulisttext {
    text-align: left;
    display: block;
    margin-left: 50px;
}
dd {
    font-size: 14pt;
}
.edulisthead {
    font-size: 22pt;
    font-weight: bold;
}



/* work experience page styles */

.workmidtext {
    text-align: center;
    display: block;
    font-size: 28pt;
}
.worklistplace{
    text-align: left;
    display: block;
    margin-left: 50px;
}
.worklisthead {
    font-size: 22pt;
    font-weight: bold;
}
.worklisttext{
    font-size:16pt;
}


/* picture styles */
.linkedinpic {
    width: 256px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.githubpic {
    width: 256px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.twitterpic {
    width: 128px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}